.allAboutUs {
    width: 100%;
    margin: 0 auto;
}

.mapMainBlock {
    display: flex;
    margin: 5% auto;
    flex-direction: row;
    justify-content: center;
}

.imgDiv {
    margin: auto 10%;
}

.aboutImg {
    border-radius: 46px;
}

.mapText {
    margin: auto 5%;
    width: 39%;
    background: #EAEAEA;
    border-radius: 72px;
}

.titleMain {
    width: 100%;
    font-size: 35px;
    font-weight: 600;
}

.fullTextMain {
    font-size: 25px;
    margin: 8% auto;
    margin-bottom: 10%;
}

@media(max-width: 1920px) {
    main {
        margin-top: 13%;
    }
}

@media(max-width: 1400px) {
    .aboutImg {
        width: 120%;
    }
    .mapText {
        width: 60%;
    }
    .titleMain {
        font-size: 25px;
    }
    .fullTextMain {
        font-size: 15px;
        margin: 8% auto;
        margin-bottom: 10%;
    }
    main {
        margin-top: 15%;
    }
}

@media(max-width: 1100px) { 
    .mapMainBlock {
        flex-direction: column;
    }
    .revise {
        flex-direction: column-reverse;
    }
    .aboutImg {
        width: 70%;
    }
    .mapText {
        width: 70%;
        margin: 5% auto;
    }
    .titleMain {
        font-size: 35px;
    }
    .fullTextMain {
        font-size: 25px;
        margin: 8% auto;
        margin-bottom: 10%;
    }
    main {
        margin-top: 25%;
    }
}

@media(max-width: 800px) { 
    .titleMain {
        font-size: 25px;
    }
    .fullTextMain {
        font-size: 15px;
        margin: 8% auto;
        margin-bottom: 10%;
    }
}

@media(max-width: 600px) { 
    .titleMain {
        font-size: 20px;
    }
    .fullTextMain {
        font-size: 12px;
        margin: 8% auto;
        margin-bottom: 10%;
    }
    .btnLowHeader {
        width: 18%;
    }
    .firstBtn {
        margin-left: 2%;
    }
    .logoImg {
        width: 35%;
    }
    main {
        margin-top: 30%;
    }
}

@media(max-width: 400px) { 
    .titleMain {
        margin: 0 auto;
        font-size: 13px;
    }
    .fullTextMain {
        font-size: 10px;
        margin: 8% auto;
        margin-bottom: 10%;
    }
    main {
        margin-top: 35%;
    }
    .firstBtn {
        margin-left: 1%;
    }
}
